:root {
  --background: rgb(24, 19, 56);
  --primary: hotpink;
  --light: #efefef;
}

body {
  background: var(--background);
  color: var(--light);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 150%;
}

p {
  line-height: 135%;
}

header {
  text-align: center;
  padding: 40px;
}

.page-title {
  color: var(--primary);
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.justify-center {
  justify-content: center;
}

.card-column {
  width: 32%;
  margin-bottom: 4%;
}

.card {
  border: 1.5px dashed var(--light);
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card h2,
.card p {
  color: var(--primary);
}

.card p {
  margin: 5px 0 15px 0;
}

.card-header {
  position: absolute;
  top: -17px;
  left: 0;
  border: 1px solid var(--light);
  background-color: var(--background);
  padding: 2%;
}

.code-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  background: linear-gradient(45deg, var(--primary) 0%, #883860 100%);
  flex: 1;
}

/* Mobile */
@media screen and (max-width: 767) {
  .card-column {
    width: 100%;
  }
}

/* Tablet */
@media screen and (max-width: 840px) {
  .card-column {
    width: 46%;
  }
}
